---
import Showcase from "../components/Showcase.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Nate Sawant — Software Engineer & Photographer">
  <main>
    <div id="" class="w-full h-screen bg-long-exposure">
      <div
        class="flex flex-col w-full xl:w-fit h-full justify-center xl:ps-32 sm:pb-48 gap-3"
      >
        <div
          class="flex flex-row justify-center items-center gap-0.5 sm:gap-1 md:gap-2"
        >
          <img class="h-20 sm:h-28 lg:h-full" src="/logo.png" alt="" />
          <h1
            class="text-5xl text-white text-center uppercase sm:text-7xl lg:text-9xl font-medium text-nowrap"
          >
            ate Sawant
          </h1>
        </div>
        <h3 class="text-2xl text-white text-center uppercase italic font-light">
          Software Engineer <br />and Photographer
        </h3>
      </div>
    </div>
    <div id="about" class="relative w-full h-screen bg-black">
      <div class="absolute top-0 bottom-0 left-0 bg-accent-red w-1"></div>
      <div
        class="flex flex-col md:flex-row w-full h-full gap-12 md:gap-48 py-12 md:justify-between items-center px-8 md:px-48"
      >
        <img
          class="h-64 sm:h-72 md:h-80 lg:h-96"
          src="/portrait_cropped.png"
          alt=""
        />
        <div class="flex flex-col gap-4 font-light">
          <p class="">
            My name is <b>Nate Sawant</b>, a software engineer based in <b
              >Boston, MA</b
            >. I’m about to graduate from <b>Northeastern University</b> with a BS
            in <b>Computer Science</b>, concentrating in <b
              >Artificial Intelligence</b
            >.
          </p>
          <p class="">
            I love working on a wide range of projects, from <b
              >computer vision</b
            > to <b>game development</b> to <b>web development</b>. I’ve also
            had the privilege of working with so many talented people and on
            different projects through <b>Generate</b>, Northeastern’s
            student-led product development studio. You see some of them below.
          </p>
          <p class="">
            Outside of my academics and professional life (which you can also
            see below), I enjoy spending my time outside either <b
              >climbing rocks</b
            > and
            <b>shooting photos</b> of the great outdoors.
          </p>
        </div>
      </div>
    </div>
    <Showcase
      header="Experience"
      items={[
        {
          title: "Software Engineer Co-op",
          shortTitle: "SWE Co-op",
          team: "Babel Street",
          href: "https://www.babelstreet.com/babel-street-analytics",
          date: "Jan 2024 — Jun 2024",
          years: "2024",
          body: `Significantly improved system performance by doubling download speeds
        through multi-threading and reducing memory usage by 20% during Named
        Entity Recognition (NER) training. Conducted an in-depth analysis of NER
        categorical changes across millions of items using Python and ontology,
        ensuring consistent data stability. Additionally, streamlined
        open-source compliance processes by automating license report
        generation, resulting in significant time savings for each Maven
        project.`,
          skills: ["Python", "MongoDB", "Java", "Spring Framework"],
        },
        {
          title: "Software Data Engineer Co-op",
          shortTitle: "SDE Co-op",
          team: "Fidelity Investments",
          href: "https://www.fidelity.com/",
          date: "Jan 2023 — Jun 2023",
          years: "2023",
          body: `Successfully streamlined development processes by leading the creation 
          of a cutting-edge shared code snippet tool for Visual Studio Code and Jupyter 
          Lab using TypeScript, which enhanced collaboration and efficiency across teams. 
          Orchestrated comprehensive ETL processes on over 10 websites, scraping and 
          consolidating data points for more than 65,000 items, while employing Python 
          to seamlessly integrate this data into SQL databases. Additionally, developed 
          an insightful Tableau dashboard to track usage patterns across 100+ datasets, 
          empowering decision-makers with critical insights to drive data-informed 
          strategies and enhance operational effectiveness.`,
          skills: ["Python", "SQL", "TypeScript", "Selenium"],
        },
        {
          title: "Research Assistant",
          team: "Northeastern University",
          shortTeam: "Northeastern U.",
          date: "Oct 2021 — Aug 2022",
          years: "2021-22",
          body: `Developed engaging two-player gameplay mechanics utilizing the Unity 
          3D engine, integrated with OpenXR and Photon Unity Networking to create a 
          seamless multiplayer experience. This involved designing and implementing 
          interactive features that enhanced player collaboration and cooperation. 
          Additionally, conducted in-depth analysis of participant behavior by capturing 
          eye-tracking data at 60Hz using the Vive Pro headset. This data collection 
          allowed for a detailed examination of focal points within the virtual environment, 
          providing valuable insights into user attention and engagement patterns.`,
          skills: ["C#", "Unity", "OpenXR"],
        },
      ]}
    />
    <Showcase
      header="Projects"
      flipped
      items={[
        {
          title: "Portfolio Website",
          team: "Personal",
          shortTeam: "Personal",
          href: "https://github.com/natesawant/personal-website",
          date: "Oct 2024",
          years: "2024",
          body: `Lorem ipsum odor amet, consectetuer adipiscing elit. Sollicitudin non 
          condimentum litora tempus bibendum arcu. Tincidunt posuere turpis, ex nisl 
          nibh amet phasellus fusce. Mattis tincidunt etiam volutpat commodo; bibendum 
          fermentum congue. Scelerisque lectus nam tincidunt imperdiet fusce velit ac 
          amet. Quisque pretium sodales turpis hendrerit laoreet; posuere justo luctus. 
          Inceptos quam quisque nulla cursus lacinia.`,
          skills: ["Astro", "React", "TypeScript", "Tailwind"],
        },
        {
          title: "Snapper",
          team: "Generate Product Development",
          shortTeam: "Generate",
          date: "Sep 2024 — Dec 2024",
          years: "2024",
          body: `Lorem ipsum odor amet, consectetuer adipiscing elit. Sollicitudin non 
          condimentum litora tempus bibendum arcu. Tincidunt posuere turpis, ex nisl 
          nibh amet phasellus fusce. Mattis tincidunt etiam volutpat commodo; bibendum 
          fermentum congue. Scelerisque lectus nam tincidunt imperdiet fusce velit ac 
          amet. Quisque pretium sodales turpis hendrerit laoreet; posuere justo luctus. 
          Inceptos quam quisque nulla cursus lacinia.`,
          skills: ["Python", "MongoDB", "Java", "Spring Framework"],
        },
        {
          title: "DevDB",
          team: "Generate Product Development",
          shortTeam: "Generate",
          date: "May 2024 — Jun 2024",
          years: "2024",
          body: `Lorem ipsum odor amet, consectetuer adipiscing elit. Sollicitudin non 
          condimentum litora tempus bibendum arcu. Tincidunt posuere turpis, ex nisl 
          nibh amet phasellus fusce. Mattis tincidunt etiam volutpat commodo; bibendum 
          fermentum congue. Scelerisque lectus nam tincidunt imperdiet fusce velit ac 
          amet. Quisque pretium sodales turpis hendrerit laoreet; posuere justo luctus. 
          Inceptos quam quisque nulla cursus lacinia.`,
          skills: ["PostgreSQL", "AWS", "TypeScript", "tRPC", "Prisma ORM"],
        },
        {
          title: "Gear Rental Site",
          team: "Northeastern University Hus-skiers and Outing Club",
          shortTeam: "NUHOC",
          date: "Apr 2024 — Jun 2024",
          years: "2024",
          body: `Lorem ipsum odor amet, consectetuer adipiscing elit. Sollicitudin non 
          condimentum litora tempus bibendum arcu. Tincidunt posuere turpis, ex nisl 
          nibh amet phasellus fusce. Mattis tincidunt etiam volutpat commodo; bibendum 
          fermentum congue. Scelerisque lectus nam tincidunt imperdiet fusce velit ac 
          amet. Quisque pretium sodales turpis hendrerit laoreet; posuere justo luctus. 
          Inceptos quam quisque nulla cursus lacinia.`,
          skills: ["PostgreSQL", "TypeScript", "React", "Prisma ORM", "tRPC"],
        },
        {
          title: "Tubender",
          team: "Generate Product Development",
          shortTeam: "Generate",
          date: "Jan 2024 — Apr 2024",
          years: "2024",
          body: `Lorem ipsum odor amet, consectetuer adipiscing elit. Sollicitudin non 
          condimentum litora tempus bibendum arcu. Tincidunt posuere turpis, ex nisl 
          nibh amet phasellus fusce. Mattis tincidunt etiam volutpat commodo; bibendum 
          fermentum congue. Scelerisque lectus nam tincidunt imperdiet fusce velit ac 
          amet. Quisque pretium sodales turpis hendrerit laoreet; posuere justo luctus. 
          Inceptos quam quisque nulla cursus lacinia.`,
          skills: ["C++", "Electron", "TypeScript", "React"],
        },
        {
          title: "Chess Engine",
          team: "Personal",
          shortTeam: "Personal",
          href: "https://github.com/natesawant/chess-engine/",
          date: "Dec 2023",
          years: "2023",
          body: `Lorem ipsum odor amet, consectetuer adipiscing elit. Sollicitudin non 
          condimentum litora tempus bibendum arcu. Tincidunt posuere turpis, ex nisl 
          nibh amet phasellus fusce. Mattis tincidunt etiam volutpat commodo; bibendum 
          fermentum congue. Scelerisque lectus nam tincidunt imperdiet fusce velit ac 
          amet. Quisque pretium sodales turpis hendrerit laoreet; posuere justo luctus. 
          Inceptos quam quisque nulla cursus lacinia.`,
          skills: ["Golang"],
        },
        {
          title: "Voxeti",
          team: "Generate Product Development",
          shortTeam: "Generate",
          date: "Sep 2023 — Dec 2023",
          years: "2023",
          body: `Lorem ipsum odor amet, consectetuer adipiscing elit. Sollicitudin non 
          condimentum litora tempus bibendum arcu. Tincidunt posuere turpis, ex nisl 
          nibh amet phasellus fusce. Mattis tincidunt etiam volutpat commodo; bibendum 
          fermentum congue. Scelerisque lectus nam tincidunt imperdiet fusce velit ac 
          amet. Quisque pretium sodales turpis hendrerit laoreet; posuere justo luctus. 
          Inceptos quam quisque nulla cursus lacinia.`,
          skills: ["Golang", "MongoDB", "C++", "React", "TypeScript"],
        },
        {
          title: "Reinforcement Learning Agent",
          shortTitle: "RL Agent",
          team: "Artificial Intelligence (CS4100)",
          shortTeam: "CS4100",
          date: "Mar 2023",
          years: "2023",
          body: `Lorem ipsum odor amet, consectetuer adipiscing elit. Sollicitudin non 
          condimentum litora tempus bibendum arcu. Tincidunt posuere turpis, ex nisl 
          nibh amet phasellus fusce. Mattis tincidunt etiam volutpat commodo; bibendum 
          fermentum congue. Scelerisque lectus nam tincidunt imperdiet fusce velit ac 
          amet. Quisque pretium sodales turpis hendrerit laoreet; posuere justo luctus. 
          Inceptos quam quisque nulla cursus lacinia.`,
          skills: ["PyTorch", "C#", "Unity"],
        },
      ]}
    />
  </main>
</Layout>
