---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout>
  <section
    class="flex sm:flex-nowrap flex-wrap sm:flex-row-reverse flex-col gap-4 w-full text-offwhite items-center"
    id="intro"
  >
    <div class="sm:text-right sm:w-2/5 w-full text-4xl">
      <h1>
        I'm <span class="text-secondary">Nate Sawant.</span>
      </h1>
      <h1>A student and software engineer based in Boston.</h1>
    </div>
    <div class="sm:w-1/2 p-6 sm:p-0 flex items-center justify-center">
      <img
        class="rounded-full ring-offset-4 ring-4 ring-secondary ring-offset-primary"
        src="imgs/nate_square.jpg"
      />
    </div>
  </section>
  <section class="flex flex-col gap-4 text-offwhite">
    <h1 class="text-secondary text-3xl break-words">About</h1>
    <p>
      I'm currently a third-year at <a
        href="https://www.northeastern.edu/"
        class="hover:text-secondary underline transition-colors duration-75"
        >Northeastern University</a
      > pursuing a Bachelor's in Computer Science with a concentration in
      Artificial Intelligence. I previously did a 6-month co-op at <a
        href="https://www.fidelity.com/"
        class="hover:text-secondary underline transition-colors duration-75"
        >Fidelity Investments</a
      > as a Software Data Engineer and am currently doing a co-op as a Software
      Engineer at <a
        href="https://www.babelstreet.com/"
        class="hover:text-secondary underline transition-colors duration-75"
        >Babel Street.</a
      >
    </p>
    <p>
      I actively participate in a few project based clubs on campus such as <a
        href="https://generatenu.com/"
        class="hover:text-secondary underline transition-colors duration-75"
        >Generate</a
      >, which is a student-led product development studio, and the <a
        href="https://coe.northeastern.edu/orgs/ieee-institute-of-electrical-and-electronics-engineers-nu-student-chapter/"
        class="hover:text-secondary underline transition-colors duration-75"
        >IEEE student chapter</a
      >, working on hardware projects.
    </p>
    <p>
      Outside of my professional and academic careers, I love shooting photos,
      playing chess, or rock climbing. I also love working on personal projects,
      such as a game development, chess engines, or computer vision
      applications.
    </p>
  </section>
  <section class="flex flex-col gap-4 text-offwhite" id="experience">
    <h1 class="text-secondary text-3xl break-words">Experience</h1>
    <section id="babel-street">
      <h2 class="text-secondary text-2xl">Babel Street</h2>
      <span class="italic text-offwhite">Software Engineer</span>
      <h3 class="italic text-offwhite-dark">Jan. 2024 - Apr. 2024</h3>
      <p>In-progress.</p>
    </section>
    <section id="fidelity-investments">
      <h2 class="text-secondary text-2xl">Fidelity Investments</h2>
      <span class="italic text-offwhite">Software Data Engineer</span>
      <h3 class="italic text-offwhite-dark">Jan. 2023 - Jun. 2023</h3>
      <p>Details soon to be added.</p>
    </section>
  </section>
  <section class="flex flex-col gap-4 text-offwhite" id="projects">
    <h1 class="text-secondary text-3xl break-words">Projects</h1>
    <section>
      <h2 class="text-secondary text-2xl">Chess Engine</h2>
      <span class="italic text-offwhite">Golang</span>
      <h3 class="italic text-offwhite-dark">Dec. 2023</h3>
      <p>Details soon to be added.</p>
    </section>
  </section>

  <section class="flex flex-col gap-4 text-offwhite" id="about">
    <h1 class="text-secondary text-3xl break-words">Contact</h1>
    <p>The best way is to contact me using my email or LinkedIn below.</p>
  </section>
</BaseLayout>
