---
import NavbarLink from "./NavbarLink.astro";
---

<footer class="flex flex-col gap-3 w-full text-offwhite p-4 text-center">
  <ul class="flex flex-row gap-4 justify-center">
    <NavbarLink
      link="https://www.linkedin.com/in/natesawant/"
      label="LinkedIn"
    />
    <NavbarLink link="https://www.github.com/natesawant/" label="GitHub" />
    <NavbarLink link="mailto:natesawant@gmail.com" label="Email" />
  </ul>
  <span>© 2023 Nate Sawant</span>
</footer>
