---
interface Props {
  label: string;
  link: string;
}

const { label, link } = Astro.props;
---

<li
  class="rounded-md text-lg block py-2 px-4 hover:bg-black hover:opacity-50 text-center"
>
  <a href={link}>{label}</a>
</li>
